@import './fonts';
@import './threshholds';
@import './colors';
@import './scrollbar';
@import url('~/static/libs/animate.min');
// @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


html {
  // font-family: Raleway;

  font-size: 16px;
  word-spacing: 1px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;
  // scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  // font-family: 'Inter', sans-serif;
}



// selection
::selection {
  color: #000;
  background: var(--color-selection);
}


.more {
  position: relative;
  padding-right: 30px;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    background: url('/icons/ion/outline/code-working-outline.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: block;
    height: 20px;
    width: 20px;
  }
}

.btn {
  background: var(--color-primary);
  color: black;

  font-weight: 500;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;

  transition: all .25s ease-in-out;

  &:hover {
    color: #000;
    background: rgb(108, 208, 255);
  }
}


h1 {
  font-weight: 1000;
  @media (max-width: 556px) {
    font-size: 20px;
  }
  @media (max-width: 420px) {
    font-size: 18px;
  }
}
.title {
  font-weight: bold;
  color: var(--color-text);
}
.link {
  color: var(--color-link);
}
.text {
  color: var(--color-text);
}

p, h4 {
  color: var(--color-text);
}

img {
  max-width: 100%;
}

a {
  color: var(--color-link);
  
  &:hover {
    color: var(--color-link-hover);
  }
}

a.more {
  &::after {
    content: "";

    background: url('/patterns/more.png') right center no-repeat;
    padding-right: 25px;

    color: #ffe291;
    text-transform: uppercase;

    filter: grayscale(1);
  }
}


.underline {
  @for $i from 1 to 5 {
    &-#{$i} {
      background: url('/patterns/underline-'+#{$i}+'.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
