
:root {
  --primary-color: rgb(160, 225, 255);

  --bg: #fff;

  --color: #243746;
  --link-color: dodgerblue;
}



// dark mode palette
.dark {
  --bg: #2f495e;

  --color: #ebf4f1;
  --link-color: var(--primary-color);
}

