:root {
  --color-primary: #3edbf0;

  --color-body: #fff;
  --color-text: #243746;

  --color-selection: rgb(255, 160, 97);
  --color-hover-gray: rgb(248, 248, 248);
  
  --color-link: dodgerblue;
  --color-link-hover: rgb(255, 160, 97);
}


// dark mode palette
.dark {
  --color-body: #182029;
  --color-text: #fafafa;

  --color-hover-gray: rgb(124, 124, 124);
  
  --color-link: var(--color-primary);
}

