
:root {
  --primary-color: #3edbf0;

  --bg: #fff;

  --color: #243746;
  --link-color: dodgerblue;
  --link-hover-color: rgb(255, 160, 97);
}



// dark mode palette
.dark {
  --bg: #2f495e;

  --color: #ebf4f1;
  --link-color: var(--primary-color);
}

