// Quicksans

@font-face {
  font-family: 'Quicksand';
  src: url(/fonts/Quicksand/static/Quicksand-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url(/fonts/Quicksand/static/Quicksand-Bold.ttf);
  font-weight: bold;
}
